1.txt
[{"id":"b617f4e3.91e758","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f2931a9c.7186b8","type":"rpi-gpio out","z":"b617f4e3.91e758","name":"Green LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":670,"y":320,"wires":[]},{"id":"8385784c.6ea678","type":"debug","z":"b617f4e3.91e758","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":120,"wires":[]},{"id":"df683656.7351e8","type":"rpi-gpio in","z":"b617f4e3.91e758","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":110,"y":220,"wires":[["8385784c.6ea678","f2931a9c.7186b8"]]}]