2.txt
[{"id":"ee2dbd4.ef8914","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6f6241e9.480ee","type":"inject","z":"ee2dbd4.ef8914","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":160,"wires":[["ae23fa16.21dd98"]]},{"id":"ae23fa16.21dd98","type":"function","z":"ee2dbd4.ef8914","name":"Payload","func":"msg.headers={\n    deviceKey: \"B1IQFih0gmeStOdF\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["d29d2415.6a01c8"]]},{"id":"d29d2415.6a01c8","type":"http request","z":"ee2dbd4.ef8914","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DzBXJUjj/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":530,"y":140,"wires":[["40e0453e.6a158c","836235a8.122668"]]},{"id":"836235a8.122668","type":"debug","z":"ee2dbd4.ef8914","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":440,"wires":[]},{"id":"40e0453e.6a158c","type":"http response","z":"ee2dbd4.ef8914","name":"","statusCode":"","headers":{},"x":710,"y":140,"wires":[]}]