git commit.json
[{"id":"1f20d697.a56c19","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"525407c6.331368","type":"inject","z":"1f20d697.a56c19","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":160,"wires":[["817f7ec.e35088"]]},{"id":"817f7ec.e35088","type":"function","z":"1f20d697.a56c19","name":"Payload","func":"msg.headers={\n    deviceKey: \"B1IQFih0gmeStOdF\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["ee872769.9b6d98"]]},{"id":"ee872769.9b6d98","type":"http request","z":"1f20d697.a56c19","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DzBXJUjj/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":530,"y":140,"wires":[["27660f07.6cb85","4aab7559.2d01dc"]]},{"id":"4aab7559.2d01dc","type":"debug","z":"1f20d697.a56c19","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":440,"wires":[]},{"id":"27660f07.6cb85","type":"http response","z":"1f20d697.a56c19","name":"","statusCode":"","headers":{},"x":710,"y":140,"wires":[]}]