git push.json
[{"id":"b7e39abd.6a3e08","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"2bb6c50d.e71b1a","type":"inject","z":"b7e39abd.6a3e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":140,"wires":[["cd4e739c.e2795"]]},{"id":"cd4e739c.e2795","type":"function","z":"b7e39abd.6a3e08","name":"","func":"msg.headers={\n    deviceKey: \"B1IQFih0gmeStOdF\"\n};\nmsg.payload=\"Temperature,,28\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["7a35cdfc.0119e4"]]},{"id":"4ac65a6c.a747a4","type":"http response","z":"b7e39abd.6a3e08","name":"","statusCode":"","headers":{},"x":670,"y":160,"wires":[]},{"id":"7a35cdfc.0119e4","type":"http request","z":"b7e39abd.6a3e08","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DzBXJUjj/datapoints.csv","tls":"","proxy":"","authType":"","x":510,"y":160,"wires":[["4ac65a6c.a747a4","80b1eb61.041738"]]},{"id":"80b1eb61.041738","type":"debug","z":"b7e39abd.6a3e08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":540,"wires":[]}]